{{!-- views/products.handlebars 
Alumno: Alessio (Elazar) Aguirre Pimentel --}}

<h1>Listado de Productos</h1>
<div id="product-list">
  {{#each products}}
    <div class="product-item">
      <h3>{{this.title}}</h3>
      <img src="{{this.thumbnail}}" alt="{{this.title}}" width="150" height="150" />
      <p>Precio: ${{this.price}}</p>
      <button onclick="addToCart('{{this.id}}')">Agregar al carrito</button>
    </div>
  {{/each}}
</div>
<script src="/index.js"></script>
